ul {
  display: flex;
  background-color: #fff;
  margin: auto;
  margin-left: 10em;
  margin-right: 10em;
  padding: 1em;
  padding-left: 3em;
  justify-content: flex-start; 
  align-items: center;
  flex-wrap: wrap; 
}
ul li {
  list-style: none;
  color: var(--primary-color);
  background-color: #edf6f5;
  border: none;
  padding: 7px;
  margin-left: 1em;
  font-weight: 700;
  display: flex; 
  align-items: center;
}

.header-container li button {
  padding-left: 10em;
  border: none;
  background-color: var(--primary-color);
  position: relative;
  padding: 5px;
  margin-left: 10px; 
}

.header-container li button:hover {
  background-color: var(--very-dark-greyish); 
}

.clear-all-button {
  color: var(--primary-color);
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin-left: 20em;
  margin-top: 10px;
}

.clear-all-button:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  ul {
      margin-left: 2em;  
      margin-right: 2em;
      padding-left: 1em; 
      align-items: flex-start; 
  }
  ul li{
    margin-bottom: 1em;
  }


  .header-container li button {
      padding-left: 1em;
      margin-left: 2em; 
      width: auto;
  }

  .clear-all-button {
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
      text-align: center; 
  }
}