@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');


:root{
  --primary-color: hsl(180, 29%, 50%);
--filer-table: hsl(180, 31%, 95%);
 --dark-greyish: hsl(180, 31%, 95%);
--very-dark-greyish: hsl(180, 14%, 20%);
 --background-color: hsl(180, 52%, 96%);
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
}
body{
  font-family: "League Spartan", system-ui;
  background-color: var(--background-color);
  overflow-x: hidden;
}